{% extends "base_generic.html" %}

{% block content %}
  <h1>User: <a href = '{{game.player.get_absolute_url}}'>{{ game.player }} </a></h1>
  <p><strong>Score:</strong> {{ game.score }}</p>
  <p><strong>Time:</strong> {{ game.started_at }}</p>
  <p><strong>Duration:</strong> {{ game.duration_second }}</p>
  <p><strong>Move:</strong> {{ game.move }}</p>
  <p><strong>Useless Move:</strong> {{ game.useless_move }}</p>
  <p><strong>Game Reconstruction:</strong> <a href="{{ game.get_replay_url }}">See game reconstruction</a></p>
{% endblock %}