{% extends "base_generic.html" %}

{% block content %}
  <h1>Game List</h1>
  {% if game_list %}
    <table>
      <tr>
        <th>User</th>
        <th>Score</th>
        <th>Time</th>
        <th>Move</th>
        <th>Useless Move</th>
        <th>Duration</th>
        <th>Detail</th>
      </tr>
      {% for game in game_list %}
        <tr>
          <td>{{ game.player }}</td>
          <td>{{ game.score }}</td>
          <td>{{ game.started_at }}</td>
          <td>{{ game.move }}</td>
          <td>{{ game.useless_move }}</td>
          <td>{{ game.duration_second }} seconds</td>
          <td><a href="{{ game.get_absolute_url }}">See game detail</a></td>
        </tr>
      {% endfor %}
    </table>
  {% else %}
    <p>There are no games in the library.</p>
  {% endif %}
{% endblock %}