{% extends "base_generic.html" %}

{% block content %}
  {% if follow_list %}
    <h1>Following List <a href = "{% url 'users' %}" style="font-size:15px">Follow More</a></h1>
    <table>
      <tr>
        <th>Username</th>
        <th>Followed At</th>
        <th>Highest Score</th>
        <th>Level</th>
        <th>VIP</th>
        <th>Un-follow</th>
      </tr>
      {% for follow in follow_list %}
        <tr>
          <td><a href="{{ follow.user.get_absolute_url }}">{{ follow.user.username }}</a></td>
          <td>{{follow.created}}</td>
          <td>
            {% if follow.user.best_game %}<a href="{% url 'game-detail' follow.user.best_game.id %}">{{follow.user.highest_score}}</a> {% endif %}
          </td>
          <td>{{follow.user.level}}</td>
          <td>{{follow.user.vip_level}}</td>
          <td>
            <form action="{% url 'remove-follow' %}" method="post" onsubmit="return confirm('Do you really want to un-follow {{ follow.user.username }}?')">
              {% csrf_token %}
              <input type="hidden" name="user_id" value="{{follow.user.id}}">
              <input type="submit" value="Un-follow">
            </form>
          </td>
        </tr>
      {% endfor %}
    </table>
  {% else %}
    <p>You are not following any user.</p>
    <a href = "{% url 'users' %}" style="font-size:15px">Follow Some?</a>
  {% endif %}
{% endblock %}