{% extends "base_generic.html" %}

{% block content %}
  {% if follow_list %}
    <h1>Follower List</h1>
    <table>
      <tr>
        <th>Username</th>
        <th>Followed At</th>
        <th>Highest Score</th>
        <th>Level</th>
        <th>VIP</th>
        <th>Delete</th>
      </tr>
      {% for follow in follow_list %}
        <tr>
          <td><a href="{{ follow.follower.get_absolute_url }}">{{ follow.follower.username }}</a></td>
          <td>{{follow.created}}</td>
          <td>{{follow.follower.highest_score}}</td>
          <td>{{follow.follower.level}}</td>
          <td>{{follow.follower.vip_level}}</td>
          <td>
            <form action="{% url 'remove-follower' %}" method="post" onsubmit="return confirm('Do you really want to delete {{ follow.follower.username }} as a follower?')">
              {% csrf_token %}
              <input type="hidden" name="user_id" value="{{follow.follower.id}}">
              <input type="submit" value="Delete">
            </form>
          </td>
        </tr>
      {% endfor %}
    </table>
  {% else %}
    <p>You don't have any followers.</p>
  {% endif %}
{% endblock %}