{% extends "base_generic.html" %}

{% block content %}
  {% if follower_list %}
    <h1>Follower List</h1>
    <table>
      <tr>
        <th>Username</th>
        <th>Followed At</th>
        <th>Highest Score</th>
        <th>Level</th>
        <th>VIP</th>
        <th>Delete</th>
      </tr>
      {% for follow in follow_list %}
        <tr>
          <td><a href="{{ follow.follower.get_absolute_url }}">{{ user.username }}</a></td>
          <td>{{follow.created}}</td>
          <td>{{follow.follower.highest_score}}</td>
          <td>{{follow.follower.level}}</td>
          <td>{{follow.follower.vip_level}}</td>
          <td>
            <form action="" method="post">
              {% csrf_token %}
              <input type="submit" value="Delete">
            </form>
          </td>
        </tr>
      {% endfor %}
    </table>
  {% else %}
    <p>You don't have any followers.</p>
  {% endif %}
{% endblock %}