{% extends "base_generic.html" %}

{% block content %}
  {% if user_list %}
    <h1>User Rank</h1>
    <table>
      <tr>
        <th>Rank</th>
        <th>Username</th>
        <th>Highest Score</th>
        <th>Date Joined</th>
        <th>Follow the User</th>
      </tr>
      {% for user in user_list %}
        <tr>
          <td>{{ page_obj.start_index|add:forloop.counter|add:-1 }}</td>
          <td><a href="{{ user.get_absolute_url }}">{{ user.username }}</a></td>
          <td><a href="{% url 'game-detail' user.best_game.id %}">{{user.highest_score}}</a></td>
          <td>{{user.date_joined}}</td>
          <td>
            <form action="{% url 'add-follow' %}" method="post" onsubmit="return confirm('Do you really want to follow {{ user.username }}?');">
              {% csrf_token %}
              <input type="hidden" name="user_id" value="{{ user.id }}">
              <input type="submit" value="Follow">
            </form>
          </td>
        </tr>
      {% endfor %}
    </table>
  {% else %}
    <p>There are no users.</p>
  {% endif %}
{% endblock %}