{% extends "base_generic.html" %}

{% block content %}
  {% if user_list %}
    <h1>User List</h1>
    <table>
      <tr>
        <th>Username</th>
        <th>Game</th>
        <th>Highest Score</th>
        <th>Level</th>
        <th>VIP</th>
        <th>Follower</th>
        <th>Follow the User</th>
      </tr>
      {% for user in user_list %}
        <tr>
          <td><a href="{{ user.get_absolute_url }}">{{ user.username }}</a></td>
          <td><a href="{% url 'user-game' user.id %}">{{user.game_played}}</a></td>
          <td>{{user.highest_score}}</td>
          <td>{{user.level}}</td>
          <td>{{user.vip_level}}</td>
          <td>{{user.num_follower}}</td>
          <td>
            <form action="{% url 'add-follow' %}" method="post" onsubmit="return confirm('Do you really want to follow {{ user.username }}?')">
              {% csrf_token %}
              <input type="hidden" name="user_id" value="{{ user.id }}">
              <input type="submit" value="Follow">
            </form>
          </td>
        </tr>
      {% endfor %}
    </table>
  {% else %}
    <p>There are no users in the library.</p>
  {% endif %}
{% endblock %}